table.center {
    width:850px; 
    margin-left:7%; 
    margin-right:20%;
  }

body {
	font-family: Arial, Helvetical, sans-serif;
}

td.title {
	font-size: 10.7pt;
	color: dark-blue;
               vertical-align: bottom;
}

td.sidebar {
	font-size: 14pt;
               line-height: 1.7em;
               vertical-align: top;
}

td.content{   vertical-align:  text-top;
     text-align: justify;
    font-size: 13.5pt;
   }

div {
  text-align:justify;
  width: 600px; 
}

ul{   padding-left:14.5px;
	line-height: 1.2
}

a:visited {  color: blue; text-decoration: none}
a:hover {  color: red; text-decoration: none}
a:link {  color: blue; text-decoration: none}

