table.center {
    width:850px; 
    margin-left:6%; 
    margin-right:20%;
  }

body {
	font-family: Arial, Helvetical, sans-serif;
}

td.title {
	font-size: 9.7pt;
	color: dark-blue;
               vertical-align: bottom;
}

td.sidebar {
	font-size: 14pt;
               line-height: 1.5em;
               vertical-align: top;
}

td.content{   vertical-align:  text-top;
     text-align: justify;
    font-size: 12.5pt;
    line-height: 1.1em;
   }

div {
  text-align:justify;
  width: 600px; 
  font-size: 12.5pt;
  line-height: 1.1em;
}

ul{   padding-left:13.5px;
	line-height: 1.1em;
	font-size: 12.5pt;
	
}

a:visited {  color: blue; text-decoration: none}
a:hover {  color: red; text-decoration: none}
a:link {  color: blue; text-decoration: none}

