

table.center {
    width:910px; 
    margin-left:9%; 
    margin-right:25%;
  }

p {
    margin: 8px 0;
  }


p.nuosu {text-align: center;
    margin-top: 0; margin-bottom: -5px;
    font-size:17pt;
    margin-right: 29%;margin-left: 29%;
  }

p.abovefigure{text-align: center;    margin-right: 20%;margin-left: 20%;}
p.belowfigure{text-align: center; margin-right: 11%;margin-left: 11%;font-size: 12pt;}
p.subsubtitle{font-size: 13.5pt;font-style: italic}

body {
	font-family: Arial;
}

iframe {
 width:650;
 height:690;}

img.flyer {
style:float: center;
 width:85%;
 height:90%;}

img.tswn {
style:float: center;
 width:40%;
 height:22%;}
	
img.lexnei {
style:float: center;
 width:75%;
 height:50%;}
 
 img.voicing {
style:float: center;
 width:90%;
 height:40%;}

img.jyutping {
style:float: center;
 width:100%;
 height:45%;}

img.annot {
style:float: center;
 width:100%;
 height:43%;}

img.rectMRI {
style:float: center;
 width:100%;
 height:90%;}


img.respgest {
style:float: center;
 width:100%;
 height:32%;}


 img.hor {
style:float: center;
 width:83%;
 height:52%;}

 img.ver {
style:float: center;
 width:55%;
 height:73%;}

 img.nuosu {
style:float: center;
 width:60%;
 height:45%;}

hr.hrzl {width:675px;
}


td.name {
	font-size: 15pt;
         vertical-align: top;
         height:50px;
         width: 300px;
}


td.sidebar {
         vertical-align: top;
	 padding-top: 0px;
	 font-size: 12.5pt;
         letter-spacing: 1px;
         line-height: 1.4em;
         font-weight: 300;
         font-family: monospace;
         height:700px;
         width: 300px;
}

td.title {
	 font-size: 15pt;
         vertical-align: top;
         height:50px;
         width: 675px;
}

td.content{ 
 	 padding-top: 0px;
    	 text-align: justify;
    	 font-size: 12.5pt;
    	 line-height: 1.1em;
    	 height: 700px;
    	 width:675px; 
}



a:visited {  color: #335acc; text-decoration: none}
a:hover {  color: red; text-decoration: none}
a:link {  color: #335acc; text-decoration: none}
a.homelinks:link {  color: #335acc; text-decoration: none; word-spacing: 1px; letter-spacing: 1.2px;font-family: Helvetica; font-size: 12.5pt;}

ul{padding-left:15px;
   font-size: 12.5pt;
   line-height: 1.1em;
}

div.scrollable {
   Width:100%; 
   height: 100%;
   margin: 0;
   padding-right: 23vw;
   overflow-y: auto;
   scrollbar-width: none;
   border: 2px 
}

	 
::-webkit-scrollbar {
    display: none;
}

@media only screen 
    and (max-width: 400px) {
hr.hrzl {width:240;
}
p.subsubtitle{font-size: 8.5pt;}
  table.center {
    width:340px; 
    margin-left:0%; 
    margin-right:10%;
  }
td.name {
	font-size: 10pt;
	color: dark-blue;
         vertical-align: top;
    width:165px; 
    height: 50px;
}
td.sidebar {
letter-spacing: 0px;
	font-size: 7.8pt;
     line-height: 1.4em;
     vertical-align: top;
    font-family: Arial;
    width:165px; 
    height: 400px;
}
td.title {
	  padding-top: 0px;
  	  font-size: 11pt;
  	  color: dark-blue;
  	  vertical-align: top;
  	  width:240px; 
          height: 50px;
}
 td.content{  
	  padding-top: 0px;
    	  text-align: justify;
    	  font-size: 8.8pt;
   	  line-height: 1.1em;
  	  width:240px; 
   	  height: 450px;
   }
a.homelinks:link {  color: #335acc; text-decoration: none; word-spacing: 1px; letter-spacing: 0.5px;font-family: Helvetica; font-size: 7pt}

iframe {
 width:260;
 height:400;}
	
img.flyer {
style:float: center;
 width:90%;
 height:57%;}
 
img.annot {
style:float: center;
 width:100%;
 height:30%;}
 
img.voicing {
style:float: center;
 width:90%;
 height:26%;}

img.tswn {
style:float: center;
 width:75%;
 height:17%;}
	 
img.jyutping {
style:float: center;
 width:100%;
 height:22%;}
	 
 img.lexnei {
style:float: center;
 width:90%;
 height:35%;}

img.rectMRI {
style:float: center;
 width:100%;
 height:40%;}


img.respgest {
style:float: center;
 width:100%;
 height:20%;}


 img.hor {
style:float: center;
 width:95%;
 height:32%;}

 img.ver {
style:float: center;
 width:75%;
 height:60%;}

	 
img.nuosu {
style:float: center;
 width:80%;
 height:35%;}

p.nuosu {text-align: center;
    margin-top: 0; margin-bottom: -7px;
    font-size:10pt;
    margin-right: 29%;margin-left: 29%;
  }

p.abovefigure{text-align: center;    margin-right: 5%;margin-left: 5%;}
p.belowfigure{text-align: center; margin-right: 8%;margin-left: 8%;font-size: 7pt;}
div.scrollable {
    Width:100%; 
    height: 100%;
    margin: 0;
    padding-right: 2vw;
    overflow-y: auto;
    scrollbar-width: none;
}
}




