body {
	font-family: Arial, Helvetical, sans-serif;
}

td.title {
	font-size: 16pt;
	color: dark-blue;
               vertical-align: bottom;
}

td.sidebar {
	font-size: 15pt;
               line-height: 1.7em;
               vertical-align: top;
}

td.content{  vertical-align: top;
     text-align: top-justify;
    font-size: 14pt;
   }

a:visited {  color: blue; text-decoration: none}
a:hover {  color: red; text-decoration: none}
a:link {  color: blue; text-decoration: none}

ul{   padding-left:15px;
}

